.login-wrapper {
  height: 100%;
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
}

.card-title-img {
  width: 18%;
  height: 18%;
  margin-bottom: 10px;
}

.card-title-text-app {
  font-size: 1.4rem;
  margin-bottom: 40px;
}

.card-title-textlogin{
  margin-bottom: 30px;
  font-size: 2rem;
}

.mat-dialog-button-login {
  background-color: #FCC37C;
  width:50%;
}

.alert-warning-custom {
  margin-bottom: 30px;
  color: red; 
}

.mat-card-error-msg {
  text-align: center;
}

.text-danger-small {
  font-size: 0.6rem;
}