<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>
        <div *ngIf="errorMessage" class="alert alert-warning-custom">
          {{errorMessage | json}}
        </div>
        <div><img class="card-title-img" src="assets/vitrine-logo.png" alt="Logo do APP"></div>
        <div class="card-title-text-app">Vitrine Newsletter</div>
        <div class="card-title-textlogin">Login</div>
      </mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="validarAcesso()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Usuário" formControlName="userName">
          <small *ngIf="loginForm.get('userName').errors?.required"
                 class="text-danger d-block mt-2">
            <!-- Informe seu usuário de acesso! -->
          </small>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Senha" formControlName="senha">
          <small *ngIf="loginForm.get('senha').errors?.required"
                 class="text-danger d-block mt-2">
            <!-- Informe sua senha! -->
          </small>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Código do Estabelecimento" formControlName="idEstabelecimento">
          <small *ngIf="loginForm.get('idEstabelecimento').errors?.required"
                 class="text-danger d-block mt-2">
            <!-- Informe o Id do Estabelecimento! -->
          </small>
        </mat-form-field>
      </mat-card-content>

      <button [disabled]="loginForm.invalid" mat-raised-button class="mat-dialog-button-login">Log in</button>
    </form>
  </mat-card>

</div>